<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>전산용품 관리 시스템</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container" style="padding-top: 5%">
    <div class="row">
        <div class="col-lg"></div>
        <div class="col-lg">
            <div class="jumbotron">
                <h3 style="text-align: center;">전산용품 관리 시스템</h3>
                <br>
                <form method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" id="idInput" placeholder="아이디">
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="password" class="form-control" id="pwInput" placeholder="비밀번호">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-dark btn-block">로그인</button>
                    <button type="button" class="btn btn-link btn-block" onclick="location.href='/join'">회원가입</button>
                </form>
            </div>
        </div>
        <div class="col-lg"></div>
    </div>
</div>
</body>
</html>