<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<script>
    var isChecked=false;

    function idCheck() {
        id=document.form.signinForm.id

    }

    function submitForm() {
        if (isChecked) {
            document.form.signinForm.submit();
        } else {
            alert("아이디 중복확인을 해주세요.");
        }
    }
</script>
<div class="container" style="padding-top: 5%">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg">
            <div class="jumbotron">
                <h3 style="text-align: center;">회원가입</h3>
                <br>
                <form method="post" name="signinForm">
                    {% csrf_token %}
                    <div class="input-group">
                        <select class="custom-select" id="isAdmin" name="isAdmin">
                                <option selected value="false">일반사용자</option>
                                <option value="true">관리자</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <select id="dept" class="custom-select" name="dept">
                            <option selected>부서</option>
                            <option value="0">admin</option>
                            <option value="1">컴퓨터정보과</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" placeholder="이름" name="name">
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" id="id" placeholder="아이디" name="id">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="idCheck" onclick="isChecked(id)">중복확인</button>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호">
                        <input type="password" class="form-control" id="pwChk" name="pwChk" placeholder="비밀번호확인">
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="전화번호">
                    </div>
                    <br>
                    <button type="button" class="btn btn-dark btn-block" onclick="submitForm()">회원가입 요청</button>
                    <button type="button" class="btn btn-link btn-block" onclick="location.href='/'">이전화면</button>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>