{% extends "adminPage/base.html" %}
{% block contents %}
    <script>
        function approval() {
            if (confirm("물품 요청을 승인합니다.")) {
                $('input[name=isApprove]').attr('value', 'true');
                document.getElementById('requestForm').submit();
            }
        }
        function refuse() {
            if (confirm("물품 요청을 거절합니다.")) {
                $('input[name=isApprove]').attr('value', 'false');
                document.getElementById('requestForm').submit();
            }
        }
    </script>
    <form method="post" id="requestForm">
    {% csrf_token %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">번호</th>
                <th scope="col">신청자</th>
                <th scope="col">신청품목</th>
                <th scope="col">신청일자</th>
                <th scope="col">신청수량</th>
                <th scope="col">재고수량</th>
                <th scope="col">승인자</th>
                <th scope="col">요청승인</th>
            </tr>
        </thead>
        <tbody>
            {% for l in ledger %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ l.userName }}({{ l.userId }})</td>
                    <td>{{ l.prodName }}({{ l.prodId }})</td>
                    <td>{{ l.whenn }}</td>
                    <td>{{ l.quantity }}</td>
                    <td>{{ l.stock }}</td>
                    {% if l.adminId %}
                        <td>{{ l.adminName }}({{ l.adminId }})</td>
                        <td></td>
                        {% else %}
                        <td>미승인</td>
                        <td>
                            <input type="hidden" name="ledgerId" value="{{ l.id }}">
                            <input type="hidden" name="isApprove" value="">
                            <div class="input-group">
                                <input class="form-control btn-primary" type="button" onclick="approval()" value="승인">
                                <input class="form-control btn-danger" type="button" onclick="refuse()" value="거절">
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
{% endblock %}